{% extends "base.html" %}

{% block title %} Thread {% endblock %}

{% block content %}
    <div class="container mt-5">
        {% for post in posts %}
            <div class="card mb-4">
                <div class="card-header">
                    [{{ thread_title }}]
                </div>
                <div class="card-body">
                    <p class="card-text">{{ post.content }}</p>
                    <hr>
                    <p class="text-muted">Posted by: {{ post.author_email }} at {{ post.created_at.strftime('%d-%m-%Y %H:%M') }}</p>
                </div>
            </div>
        {% endfor %}
        <h5>Answer</h5>
        <form method="POST">
            {{ form.csrf_token }}
            <div class="mb-3">
                {{ form.content(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %}